body {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#sigue {
    position: absolute;
    background: rgb(240, 202, 79);
    color: rgb(13, 13, 0);
    width: 150px;
    height: 150px;
    display: none;
    text-align: center;
    padding: 45px;
    border: 6px solid black;
    font-size: 75px;
}

#principal {
    padding: 75px;
    border: 7px solid grey;
    background: rgb(177, 248, 212);
}