body {
    background-image: url(./assets/juliocesar.jpg);
    display: flex;
    justify-content: center;
}

.content {
    border: 10px solid grey;
    margin: 150px;
    padding: 75px;
    background-color: #ca7968;
    background-image: linear-gradient(315deg, #ca7968 0%, #0c0c0c 74%);
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 45px;
    color: white;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color: #fc8d83;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.myButton:hover {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
}

.myButton:active {
    position: relative;
    top: 1px;
}